.how-to-order {
  max-width: 1100px;
  padding-top: 80px;
  border-top: 1px dashed #2c363f; /* Divisor sutil */
  width: 100%;
}

.about-section {
  padding: 80px 25px;
  /* background-color: #0D1117; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-title {
  font-family: "Roboto Mono", "Michroma", sans-serif;
  font-size: xx-large;
  color: #e6edf3;
  margin-bottom: 90px;
  letter-spacing: 4px;
}

.steps-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.step-item {
  flex: 1;
  background: rgba(22, 27, 34, 0.5);
  padding: 40px;
  border: 1px solid #1f2937;
  position: relative;
  min-height: 17em;
  min-width: 14em;
}

.step-number {
  font-size: 32px;
  font-weight: bold;
  color: rgba(0, 243, 255, 0.1);
  position: absolute;
  top: 5px;
  right: 15px;
}

.step-item h4 {
  color: #00f3ff;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 200;
}

.step-item p {
  font-size: 15px;
  line-height: 1.5;
  color: #8d98a7;
  margin: 0;
}

.step-divider {
  align-self: center;
  color: #2c363f;
  font-weight: bold;
  font-size: 25px;
}

@media (max-width: 768px) {
  .steps-grid {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .step-item {
    min-width: 95vw;
  }

  .step-divider {
    transform: rotate(90deg);
    margin: 10px 0;
    font-size: 20px;
  }
}
