.main-header {
  background-color: #161b22;
  padding: 15px 35px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-container {
  min-height: 5.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  gap: 4vw;
  margin: 0;
  padding: 0;
}

.navbar-links .cta-link {
  background-color: transparent;
  border: 1px solid #8d98a7;
  padding: 8px 22px;
  border-radius: 2px;
  color: #8d98a7;

  font-family: "Michroma";
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
}

.navbar-links .cta-link:hover {
  color: #00f3ff;
  border-color: #00f3ff;
  background-color: rgba(0, 243, 255, 0.05);
  box-shadow: 0 0 15px rgba(0, 243, 255, 0.3);
  text-shadow: 0 0 5px #00f3ff;
}

.navbar-links a {
  color: #8d98a7;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
}

.navbar-links a:hover {
  color: #00f3ff;
  text-shadow: 0 0 8px #00f3ff;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
    z-index: 1001;
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-links {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #161b22;
    padding-top: 80px;
  }

  .navbar-links.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-links ul {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
