.about-section {
  padding: 80px 25px;
  /* background-color: #0D1117; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-container {
  max-width: 1100px;
  display: flex;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
  width: 100%;
}

.about-image {
  flex: 1;
  min-width: 300px;
  position: relative;
  border: 1.5px solid #2c363f;
  padding: 10px;
  background: linear-gradient(135deg, #161b22 0%, #0d1117 100%);
}

.image-placeholder {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #1f2937;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scanner-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #00f3ff;
  box-shadow: 0 0 15px #00f3ff;
  animation: scan 3s infinite linear;
  z-index: 10;
}

@keyframes scan {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.about-text {
  flex: 1.2;
  min-width: 300px;
}

.section-tag {
  color: #00f3ff;
  font-size: 12px;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 10px;
}

.about-text h2 {
  text-align: left;
  max-width: 100%;
  color: #e6edf3;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.8;
  color: #8d98a7;
  margin-bottom: 15px;
}
