.about-section {
  padding: 100px 20px;
  background-color: #0d1117;
}

.about-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.scan-wrapper {
  --mask-height: clamp(300px, 50vw, 500px);

  width: var(--mask-height);
  height: var(--mask-height);
  background: #161b22;
  border: 1px solid #30363d;
  position: relative;
  overflow: hidden;
}

.reveal-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  border-bottom: 3px solid #00f3ff;
  box-shadow: 0 0 15px #00f3ff;
  animation: scanFull 5s steps(100, end) infinite;
  will-change: height;
}

.scanned-image {
  width: var(--mask-height);
  height: var(--mask-height);
  object-fit: cover;
  transform: scale(1.2) translate(-25px, 25px);
  opacity: 0.8;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.about-text {
  flex: 0 1 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-tag {
  color: #00f3ff;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.about-text h2 {
  margin: 0;
  text-align: start;
  font-size: 41px;
  margin-bottom: 25px;
  color: #e6edf3;
}

.about-text p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.8;
  color: #8d98a7;
  margin-bottom: 20px;
}

@keyframes scanFull {
  0% {
    height: 0;
    opacity: 1;
    filter: brightness(1) drop-shadow(0 0 0 transparent);
  }

  94% {
    height: (calc((--mask-height) * 0.94));
    opacity: 1;
    filter: brightness(1.2);
  }
  95% {
    height: (calc((--mask-height) * 0.95));
    opacity: 0.4;
    filter: brightness(3) hue-rotate(180deg) saturate(5);
  }
  97% {
    height: (calc((--mask-height) * 0.97));
    opacity: 1;
    filter: brightness(1) hue-rotate(0deg);
  }
  98% {
    height: (calc((--mask-height) * 0.98));
    opacity: 0.1;
    filter: brightness(4) hue-rotate(190deg);
  }
  100% {
    height: var(--mask-height);
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  .section-tag {
    margin-bottom: 30px;
  }
  .about-section {
    padding: 0px 0px;
  }
  .about-container {
    flex-direction: column;
    text-align: center;
    gap: 80px;
  }
  .scan-wrapper {
    width: var(--mask-height);
    height: var(--mask-height);
  }
  .scanned-image {
    width: var(--mask-height);
    height: var(--mask-height);
  }

  .about-text h2 {
    margin-bottom: 100px;
  }

  .about-text p {
    font-size: clamp(20px, 1.1rem + 0.5vw, 20px);
    margin-bottom: 20px;
  }
}
