.benefits-section {
  padding: 100px 25px;
  background-color: #0d1117;
  display: flex;
  justify-content: center;
}

.benefits-container {
  max-width: 1100px;
  width: 100%;
}

.benefits-title {
  text-align: left;
  margin-bottom: 50px;
  color: #e6edf3;
}

.benefits-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.benefit-card {
  flex: 1 1 300px;
  max-width: 350px;
  background: #161b22;
  padding: 30px;
  border: 1px solid #2c363f;
  position: relative;
  transition: all 0.3s ease;
  clip-path: polygon(0% 0%, 85% 0%, 100% 15%, 100% 100%, 0% 100%);
}

.benefit-card:hover {
  border-color: #00f3ff;
  transform: translateY(-5px);
  filter: drop-shadow(6px 6px 0px #00f3ff);
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-id {
  font-size: 14px;
  color: #00f3ff;
  font-weight: bold;
}

.benefit-card h3 {
  font-family: "Michroma", sans-serif;
  font-size: 18px;
  color: #e6edf3;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.benefit-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #8d98a7;
}

.benefits-container h2.benefits-title {
  text-align: left;
  max-width: 100%;
}

@media (max-width: 1100px) {
  .benefits-grid {
    justify-content: center;
  }
}

@media (max-width: 680px) {
  .benefit-card {
    flex: 1 1 100%;
    max-width: 450px;
  }

  .benefits-title {
    text-align: center;
  }
}
