.hero-section {
  min-height: 60vh;
  background: radial-gradient(circle at right, #1f2937 0%, #0d1117 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 25px 2rem 25px;
  box-sizing: border-box;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.title-left,
.text-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title-left {
  align-items: flex-start;
}

.text-right {
  align-items: flex-end;
  justify-content: center;
  /* max-width: 30%; */
}

.hero-section h2 {
  max-width: 50%;
}
